
<div class=" ap-radius ap-banner-profile" >
  <br>

  <div class=" nm" style="padding-bottom: 10px;">
    <img src="{{ user.imagePath }}" class="img-circle img-thumbnail" height="200px" width="200px">
  </div>
  <h2>{{ user.firstname }} {{ user.lastname}}</h2>
  <div class=" ap-flex">
    <div class="hp-info ">
      <div class="hp-icon">
        <span class="icon-twitter"></span>
      </div>

      <span class="hp-main">132</span>
      <span class="hp-sm">Tweets</span>

    </div>
    <div  class="hp-info ">
      <div class="hp-icon">
        <span class="icon-user"></span>
      </div>
      <div>

        <span class="hp-main">148</span>
        <span class="hp-sm">Follow</span>

      </div>
    </div>
    <div class="hp-info ">
      <div class="hp-icon">
        <span class="icon-group"></span>
      </div>
      <span class="hp-main" style="">3,442</span>
      <span class="hp-sm" style="">Followers</span>
    </div>
  </div>
<br>
</div>

<div class="ap-high-400px">

</div>
