<div >
    <span class="{{isAuthenticated ? '' : 'greyOut'}}">
      <span [class]="myRating > 0 ? starRated : starNotRated" aria-hidden="true" (click)="rate(1)"></span>
      <span [class]="myRating > 1 ? starRated : starNotRated" aria-hidden="true" (click)="rate(2)"></span>
      <span [class]="myRating > 2 ? starRated : starNotRated" aria-hidden="true" (click)="rate(3)"></span>
      <span [class]="myRating > 3 ? starRated : starNotRated" aria-hidden="true" (click)="rate(4)"></span>
      <span [class]="myRating > 4 ? starRated : starNotRated" aria-hidden="true" (click)="rate(5)"></span>
    </span>
    <br>
      <span>Average rating : {{this.averageRating  | number : '1.1-1'}} /5</span>
  </div>