<link rel="stylesheet" href="assets/galleriesStyle/css/style.css">
<link rel="stylesheet" href="assets/galleriesStyle/css/colors/main.css" id="colors">

<div class="alert alert-danger" role="alert" [hidden]="isPayed">
  Payment aborted !
</div>

<div class="fs-container">

  <div class="fs-inner-container">

    <!-- Map -->
    <div id="map-container" >
      <div id="map" data-map-zoom="1" data-map-scroll="true" *ngIf="mapInit.longitude && mapInit.latitude">
        <agm-map [latitude]="mapInit.latitude" [longitude]="mapInit.longitude" [zoom]="zoomValue" (mapReady)="onReady($event)"  [styles]="styles"  >
          <!-- <agm-data-layer *ngIf="geoJsonReady" [geoJson]="geoJson" [style]="style"></agm-data-layer> -->
          <!-- <agm-circle [latitude]="lat" [longitude]="lng" [radius]="radius" [fillColor]="fillColor"></agm-circle> -->
          <agm-marker *ngFor="let m of galleries" [latitude]="m.location.latitude" [longitude]="m.location.longitude" [iconUrl]="iconUrl" (markerClick)="markerClick()">
            <agm-info-window #infowindow [latitude]="m.location.latitude+0.0005" [longitude]="m.location.longitude" [isOpen]="false">

              <div class="agent-avatar">
                <a href="" class="listing-img-container">

                  <div class="listing-img-content">
                    <span class="listing-price">{{m.pricing.daily}}<i>{{m.maxCapacity}} /m²</i></span>
                  </div>
                  <img src="../../../../assets/galleriesStyle/images/listing-01.jpg" alt="" style="height: 220px;width: 300px;">
                </a>
              </div>

              <div class="listing-content">
                <div class="listing-title">
                  <h4><a href="#">{{m.name}}</a></h4>
                  <p>{{m.location.address}}</p>
                </div>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>

      <!-- Map Navigation -->
      <a  (click)="Myposition()" id="geoLocation" title="Your location"></a>

    </div>

  </div>


  <div class="fs-inner-container">
    <div class="fs-content">

      <!-- Search -->
      <section class="search margin-bottom-30">

        <div class="row">
          <div class="col-md-12">

            <!-- Title -->
            <h4 class="search-title">Find gallery by location</h4>

            <!-- Form -->
            <div class="main-search-box no-shadow">


              <!-- Row With Forms -->
              <div class="row with-forms">

                <!-- Main Search Input -->
                <div class="col-fs-12">
                  <div class="form-group">
                    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" size="100">
                  </div> </div>

              </div>
              <!-- Row With Forms / End -->



              <button (click)="redirectionAdd()" class="button fs-map-btn">Add</button>
              <!-- More Search Options -->
              <a href="#" class="more-search-options-trigger margin-top-20" data-open-title="More Options" data-close-title="Less Options"></a>

              <div class="more-search-options relative">
                <div class="more-search-options-container margin-top-30">


                </div>

              </div>
              <!-- More Search Options / End -->


            </div>
            <!-- Box / End -->
          </div>
        </div>

      </section>
      <!-- Search / End -->



      <!-- Sorting / Layout Switcher -->
      <div class="row fs-switcher">

        <div class="col-md-6">
          <!-- Showing Results -->
          <p class="showing-results"><strong>{{galleries?.length}} Results Found</strong> </p>
        </div>

      </div>



      <!-- Listings -->
      <div class="listings-container list-layout row fs-listings">

        <app-galleries-list-scroller [items]="galleries"></app-galleries-list-scroller>

      </div>
      <!-- Listings Container / End -->

    </div>
  </div>

</div>
